<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlists</title>
</head>
<body>
        <h1>Playlists</h1>
</body>
</html>
<form action="/add" method="POST" enctype="multipart/form-data">
    <input type="text" placeholder="Enter Playlist Name" name="playlistName">
    <button type="submit" class="ghost">Create</button>
</form>

